.box-max,
.box-min {
	width: 150px;
	aspect-ratio: 1/1;
	display: grid;
	place-items: center;
}

.box-max {
	background-color: blue;
}

.box-min {
	background-color: green;
}

@media (max-width: 600px) {
	.box-max {
		background-color: orangered;
	}
}

@media (min-width: 600px) {
	.box-min {
		background-color: orangered;
	}
}
