.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	background-color: lightgray;
}

.square {
	width: 50%;
	aspect-ratio: 1/1;
	background-color: blue;
}

.content {
	padding: 20px;
	width: 50%;
}

@media (max-width: 600px) {
	.container {
		flex-direction: column;
	}

	.square {
		width: 100%;
	}

	.content {
		width: 100%;
	}
}
